14 01 01 12   
1                      
16.24 -61.53 1500      
-240                   
0                      
10000.0                  
7             
/Volumes/MODIS/trafin/fouyol/recherche/data/HYSPLIT DONNEES/2013/                  
gdas1.dec13.w4                  
/Volumes/MODIS/trafin/fouyol/recherche/data/HYSPLIT DONNEES/2013/                  
gdas1.dec13.w5                  
/Volumes/MODIS/trafin/fouyol/recherche/data/HYSPLIT DONNEES/2014/                  
gdas1.jan14.w1                  
/Volumes/MODIS/trafin/fouyol/recherche/data/HYSPLIT DONNEES/2014/                  
gdas1.jan14.w2                  
/Volumes/MODIS/trafin/fouyol/recherche/data/HYSPLIT DONNEES/2014/                  
gdas1.jan14.w3                  
/Volumes/MODIS/trafin/fouyol/recherche/data/HYSPLIT DONNEES/2014/                  
gdas1.jan14.w4                  
/Volumes/MODIS/trafin/fouyol/recherche/data/HYSPLIT DONNEES/2014/                  
gdas1.jan14.w5                  
/Users/france-norbrute/Documents/trafin/fouyol/recherche/Hysplit4/working/                  
tdump                  
